{% extends 'base.html' %}
{% load static %}
{% block javascript %}

<script src="{% static 'js/sales.js' %}"></script>

{% endblock%}

{% block content %}

<div class="row my-5">
    <div class="col">
        <h1>Sales Data</h1>
    </div>
</div>
<hr/>
<div class="row my-4">
    <div class="col-4">
        <h3>Today sales</h3>
        <hr/>
        <p>Recent Total: {{today.recent_data.total__sum}}</p>
        <ol>
            {% for order in today.recent%}
            <li class="my-3">Order #{{ order.order_id }}<br/>
            Total: ${{ order.total }}<br/>
            {{ order.updated|timesince }} ago</li>
            {% endfor %}
        </ol>

        <h3>This week sales</h3>
        <hr/>
        <p>Recent Total: {{this_week.recent_data.total__sum}}</p>
        <ol>
            {% for order in this_week.recent%}
            <li class="my-3">Order #{{ order.order_id }}<br/>
            Total: ${{ order.total }}<br/>
            {{ order.updated|timesince }} ago</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-8">
        <canvas class="my-render-chart" data-type="week" id="thisWeekSales" width="400" height="400"></canvas>
    </div>
</div>



<div class="row my-5">
    <div class="col-12">
        <h3>Previous four weeks sales</h3>
    </div>
    <div class="col">
        <p>Recent Total: {{last_four_weeks.recent_data.total__sum}}</p>
        <ol>
            {% for order in last_four_weeks.recent%}
            <li>Order #{{ order.order_id }}<br/>
            Total: ${{ order.total }}<br/>
            {{ order.updated|timesince }} ago</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-8">
        <canvas class="my-render-chart" data-type="4weeks" id="4WeekSales" width="400" height="400"></canvas>
    </div>
</div>

{% endblock %}