{% extends 'base.html' %}

{% block javascript %}
<script>

$(document).ready(function(){

    function renderChart(id, data, labels){
        var ctx = $('#'+id);
        var myChart = new Chart(ctx, {
            type: 'line',
             data: {
                labels: labels,
                datasets: [{
                    label: 'Sales',
                    data: data,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)'
                    ],
                     borderWidth: 1
                 }]
             },
             options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
             }
        });
    }

    function getSalesData(id, type){

        var url = '/analytics/sales/data/';
        var method = 'GET';
        var data = {"type": type};

        $.ajax({
            url: url,
            method: method,
            data: data,
            success: function(data){
                renderChart(id, data.data, data.labels)
            },
            error: function(error){
                $.alert("An error occurred")
            }
        })
    }

    var chartsToRender = $('.my-render-chart');
    $.each(chartsToRender, function(index, html){
        var $this = $(this);
        if( $this.attr('id') && $this.attr('data-type') ){
            getSalesData($this.attr('id'), $this.attr('data-type'));
        }
    })
});


</script>

{% endblock%}

{% block content %}

<div class="row my-5">
    <div class="col">
        <h1>Sales Data</h1>
    </div>
</div>

<div class="row my-4">
    <div class="col-4">
        <h3>Today sales</h3>
        <hr/>
        <p>Recent Total: {{today.recent_data.total__sum}}</p>
        <ol>
            {% for order in today.recent%}
            <li>{{ order.order_id }}
            {{ order.total }}
            {{ order.updated }}</li>
            {% endfor %}
        </ol>

        <h3>This week sales</h3>
        <hr/>
        <p>Recent Total: {{this_week.recent_data.total__sum}}</p>
        <ol>
            {% for order in this_week.recent%}
            <li>{{ order.order_id }}
            {{ order.total }}
            {{ order.updated }}</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-8">
        <canvas class="my-render-chart" data-type="week" id="thisWeekSales" width="400" height="400"></canvas>
    </div>
</div>



<div class="row my-5">
    <div class="col-12">
        <h3>Previous four weeks sales</h3>
    </div>
    <div class="col">
        <p>Recent Total: {{last_four_weeks.recent_data.total__sum}}</p>
        <ol>
            {% for order in last_four_weeks.recent%}
            <li>{{ order.order_id }}
            {{ order.total }}
            {{ order.updated }}</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-8">
        <canvas class="my-render-chart" data-type="4weeks" id="4WeekSales" width="400" height="400"></canvas>
    </div>
</div>

{% endblock %}