{% load static %}
<!doctype html>
<html lang="en">
      <head>
        <title>Hello, world!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <!--Fontawesome-->
        <script src="https://use.fontawesome.com/a43005f6db.js"></script>


          <link rel="stylesheet" href="{% static 'css/main.css' %}/">
          <link rel="stylesheet" href="{% static 'css/stripe-style.css' %}/">
      </head>

      <body>
        {% include 'base/navbar.html' with brand_name='eCommerce' %}
        <div class="container">
            {% if messages %}
            <div class="alert alert-success messages">
                {% for message in messages %}
                    <span {% if message.tags %} class="{{message.tags}}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{message}}
                    </span>
                {% endfor %}
            </div>
            {% endif %}
        {% block content %}{% endblock %}
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!--Jquery-confirm-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

        <!-- js Render-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
        {% include 'base/js-templates.html' %}

      <!--django secure ajax-->
      <script src="{% static 'js/csrf_ajax.js' %}"></script>

      <!--eCommerce custom JS-->
      <script src="{% static 'js/ecommerce.js' %}"></script>

        <!--eCommerce custom JS - adding a card-->
      <script src="{% static 'js/billing.js' %}"></script>

        <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>



      {% block javascript %}

      {% endblock %}
      </body>
</html>